<p style="text-align: center;"><strong>DOCUMENTO DE PRESENTACION SENAPI</strong></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="padding-left: 30px;"><strong>ESPECIFICACIONES GENERALES </strong></p>
<p style="padding-left: 60px;"><strong>Titular:</strong> @NOMBRE@</p>
<p style="padding-left: 60px;"><strong>Tipo:</strong>&nbsp;Obra Literaria</p>
<p style="padding-left: 60px;"><strong>Nombre:</strong> @NOMBRE@</p>
<p style="padding-left: 60px;"><strong>Autor</strong> <strong>(Autores):</strong> @AUTORES@</p>
<p style="padding-left: 60px;"><strong>Fecha de Inicio:</strong> @FECHAINICIO@</p>
<p style="padding-left: 60px;"><strong>Fecha de Conclusi&oacute;n:</strong>&nbsp;@FECHAFIN@</p>
<p style="padding-left: 60px;"><strong> Versi&oacute;n:</strong>&nbsp;@VERSION@</p>
<p style="padding-left: 60px;"><strong>Descripciones:</strong>&nbsp;@DESCRIPCION@</p>
<p style="padding-left: 60px;"><strong>Funcionalidades:</strong>&nbsp;@FUNCIONALIDADES@</p>
<p style="padding-left: 60px;"><strong>Observaciones:</strong>&nbsp;@OBSERVACIONES@</p>
<p style="padding-left: 30px;"><span style="background-color: #ffffff;"><strong>ESPECIFICACIONES T&Eacute;CNICAS </strong></span></p>
<p style="padding-left: 60px;"><strong>Sistema operativo:</strong>&nbsp;@SISTEMAOPERATIVO@</p>
<p style="padding-left: 60px;"><strong>Lenguaje de Programaci&oacute;n:</strong>&nbsp;@LENGUAJE@</p>
<p style="padding-left: 60px;"><strong>Base de Datos:</strong>&nbsp;@BASEDATOS@</p>
<p style="padding-left: 60px;"><strong>Dependencias:</strong>&nbsp;@DEPENDENCIAS@</p>
<p style="padding-left: 30px;">&nbsp;</p>
<p style="padding-left: 30px;">&nbsp;</p>
<p style="padding-left: 30px;">&nbsp;</p>
<p style="padding-left: 30px;">&nbsp;</p>
<p style="padding-left: 30px; text-align: center;"><strong>.................................................................................</strong></p>
<p style="padding-left: 30px; text-align: center;"><strong>FIRMA DE USUARIO</strong></p> 