<div style="font-size: 12px; padding-top: 30px">
    <p style="text-align: center;"><strong>DOCUMENTO DE PRESENTACION SENAPI</strong></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="padding-left: 30px;"><strong>ESPECIFICACIONES GENERALES </strong></p>
    <p style="padding-left: 60px;"><strong>Titular:</strong>{{titular}} </p>
    <p style="padding-left: 60px;"><strong>Tipo:</strong>{{tipo}}</p>
    <p style="padding-left: 60px;"><strong>Nombre:</strong>{{nombre}}</p>
    <p style="padding-left: 60px;"><strong>Autor</strong> <strong>(Autores):</strong>{{autores}}</p>
    <p style="padding-left: 60px;"><strong>Fecha de Inicio:</strong>{{fechaInicio}}</p>
    <p style="padding-left: 60px;"><strong>Fecha de Conclusi&oacute;n:</strong>&nbsp;{{fechaFin}}</p>
    <p style="padding-left: 60px;"><strong> Versi&oacute;n:</strong>&nbsp;{{version}}</p>
    <p style="padding-left: 60px;"><strong>Descripciones:</strong>&nbsp;{{descripciones}}</p>
    <p style="padding-left: 60px;"><strong>Funcionalidades:</strong>&nbsp;{{funcionalidades}}</p>
    <p style="padding-left: 60px;"><strong>Observaciones:</strong>&nbsp;{{observaciones}}</p>
    <p style="padding-left: 30px;"><span style="background-color: #ffffff;"><strong>ESPECIFICACIONES T&Eacute;CNICAS
            </strong></span></p>
    <p style="padding-left: 60px;"><strong>Sistema operativo:</strong>&nbsp;{{sistemasOperativos}}</p>
    <p style="padding-left: 60px;"><strong>Lenguaje de Programaci&oacute;n:</strong>&nbsp;{{lenguaje}}</p>
    <p style="padding-left: 60px;"><strong>Base de Datos:</strong>&nbsp;{{baseDatos}}</p>
    <p style="padding-left: 60px;"><strong>Dependencias:</strong>&nbsp;{{dependencias}}</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <p style="padding-left: 30px; text-align: center;"><strong>.................................................................................</strong></p>
    <p style="padding-left: 30px; text-align: center;"><strong>FIRMA DE USUARIO</strong></p>
</div>